
.cardPreview {
  width: 85.60mm;
  height: 53.98mm;
  color: #fff;
  background-image: linear-gradient(to right, lightslategray, lightsteelblue);
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  & > div {
    display: flex;

    & > span {
      cursor: pointer;
    }
  }

  #cardTypeWrapper {
    flex-direction: row-reverse;
    height: 60px;

    .discoverLogo {
      height: 20px;
      margin: 20px 20px 0 0;
    }

    .masterCardLogo {
      height: 40px;
      margin: 20px 20px 0 0;
    }

    .visaLogo {
      height: 120px;
      margin: -25px 20px 0 0;
    }
  }

  #chipWrapper {
    height: 50px;

    #chipImg {
      height: 30px;
      width: auto;
      margin-left: 30px;
    }
  }

  #cardNumber {
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: black;
    font-weight: 400;

    span {
      margin: 0 5px 0 5px;
    }
  }

  #nameAndDateWrapper {
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    color: black;
  }

}

.editCardContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  & > div {
    width: 500px;
    //text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & > div {
      margin-top: 10px;
      //display: inline-block;
    }
  }

  .cardPreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardNumberContainer {
    display: flex;
    justify-content: space-between;

    .MuiTextField-root {
      width: 100px;
      text-align: center;
      white-space: nowrap;
    }
  }

  .buttonsContainer {
    height: 100px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.myCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cardsList {
    display: flex;
    flex-wrap: wrap;

    li {
      display: block;
      margin: 15px;
      cursor: pointer;
    }


    .newCard {
      border: 3px dotted black;

      & > span {
        margin: auto;
        color: black;
        font-size: 5em;
        font-weight: 900;
        text-decoration: none;
      }
    }
  }
}